<div class="container my-5">
  <h1 class="text-center mb-4">Sobre Nosotros</h1>
  <p class="lead text-center">
    En Aceites Piedra Colgada nos dedicamos a la producción artesanal de aceite de oliva extra virgen.
    Desde nuestros campos en Chile, cultivamos con pasión y respeto por la naturaleza.
  </p>

  <div class="text-center mt-4">
    <%= image_tag "about.jpg", class: "img-fluid rounded shadow", style: "max-height: 400px;", alt: "Nuestros olivares y productores" %>
  </div>


  <p class="mt-4">
    Nuestro aceite se elabora a partir de una cuidadosa selección de olivas locales, prensadas en frío para conservar
    todas sus propiedades. Nos esforzamos por ofrecer un producto de alta calidad, que refleje el esfuerzo, la tradición y el amor por el olivo.
  </p>
</div>
